## Model Analysis

In [1]:
#Style the tables
from IPython.core.display import HTML
css = open('../style/style-table.css').read() + open('../style/style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

# remove warnings
import warnings
warnings.filterwarnings('ignore')

%matplotlib inline
import pandas as pd
pd.options.display.max_columns = 100
from matplotlib import pyplot as plt
import matplotlib
matplotlib.style.use('ggplot')
import numpy as np
import seaborn as sns

pd.options.display.max_rows = 100

Titanic training dataset is used to build Machine Learning Modules. The Model performance is tested using test dataset. The generated output of testing is used for evaluation purpose.

Load the training dataset.

In [2]:
data = pd.read_csv('../data/train.csv')
print(data.shape)
data.head()

(891, 12)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Describe statistically

In [ ]:
With the number of siblings/spouse and the number of children/parents we can create new feature called Family Size.